/* ---- general settings ---- */

html, body{
  height: 100%;
  padding: 0px;
  padding-top: 0em;
  margin: 0px;
  /* overflow: hidden; */
  color: #6164bf;
  font-family: 'Inconsolata', monospace;
  background-color: #F5F5f1;
}

.underlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.1);
}

#close_o{
  width: 1rem;
  position: absolute;
  top: 1em;
  right: 1em;
}

.overlay{
  width: 60%;
  left: 20%;
  top: 20%;
  z-index: 6;
  background: white;
  box-sizing: border-box;
    border: #6164bf 2px solid;
  padding: 2.5em;
  position: absolute;
  height: 60%;
  color: #6164bf;
}

canvas{
  display: inline-block;
  width: 100% !important;
  height: 100% !important;
}

.unselectable{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tooltip-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.tooltip{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  opacity: 0;
  z-index: 3;
  background: #f2edbd;
  padding: 0.3em;
  font-size: 0.8em;
  position: absolute;
  bottom: 100%;
  border: #6164bf 1px solid;
}

.tooltip-container:hover > .tooltip{
  transition-delay: 0.4s;
  opacity: 1;
}

/* -- general layout of columns --- */

.column{
  height: 100%;
  padding-left: 1em;
  float: left;
}

.inside-column{
  /* display: block;
  height: 100%; */
}

#bottom{
    position: relative;
    height: 100%;
    width: 300%;
}

#bottom-container{
    padding-top:1em;
    width: 100%;
    height: calc(100% - 5em);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* ---- cute box! --- */

.cutebox{
  border: #6164bf 2px solid;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
  width: calc(100vh - 15em);
  min-width: 256px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
}

.cutebox_info{
  width: 94%;
  margin-left: 3%;
  height: 2em;
  line-height: 2em;
  box-sizing: border-box;
  border-bottom: double #6164bf 4px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cutebox_info img{
  height: 40%;
  margin-right: 1em;
}

/* --- rest is "right view" -- */

/* #rest{
  height: 100%;
} */

#middle{
}

#right{
}

/* -- drawing view -- */

#paper{
  position: relative;
}

#paper-canvas{
  width: calc(100vh - 15em);
  height: calc(100vh - 15em);
  min-width: 256px;
  min-height: 256px;
  padding: 0px;
  position: relative;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#render-img{
  height: 100%;
  transition-duration: 0.5s;
}

.spin{
  transform-origin: center;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#render{
  position: absolute;
  height: 4em;
  bottom: 0.3em;
  right: 0.3em;
  opacity: 1;
  transition-duration: 1s;
}

#render:hover{
  animation: expand 0.3s cubic-bezier(.36,.07,.19,.97) both;
  height: 4.2em;
  transform: translate3d(0.15em, 0.1em, 0);
  -webkit-transform: translate3d(0.15em, 0.1em, 0);
}

/* -- rendered view -- */

#mirror-canvas{
  width: calc(100vh - 15em);
  height: calc(100vh - 15em);
  min-width: 256px;
  min-height: 256px;
  padding: 0px;
  position: relative;
}

/* ---- this is the top bar ---- */

#top{
  position: relative;
  border-bottom: #6164bf 2px solid;
  box-shadow: 0px 4px #C793C4;
  background-color: #efe0ea;
  height: 4em;
}

#cat{
  font-weight: 400;
  margin-left: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-size: 2em;
  display: inline-block;
}

#made-by{
  text-align: right;
  padding: 0.25em;
  display: inline-block;
  float: right;
}

#github{
  font-size: 0.8em;
  text-align: right;
  display: inline-block;
  position: absolute;
  padding: 0.25em;
  bottom: 0;
  right: 0;
}

/* --- this is for layers -----  */

.layer{
  width: 94%;
  position: relative;
  margin-left: 3%;
  height: 2.3em;
  line-height: 2em;
  padding-left: 0.5em;
  border-top: solid 2px #e0afdb;
  box-sizing: border-box;
}

.layer img{
  margin-top: 0.4em;
  margin-right: 0.25em;
  float: right;
  height: 1.2em;
}

.layer-container{
  background :#f2d5E5;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.layer_info_container{
  width: 100%;
  background-color: white;
}

.layer_info{
  height: 2em;
  background-color: white;
  line-height: 2em;
}

.layer_info img{
  height: 50%;
}

#layer-menu{
  margin: 0px;
  width: 256px;
  border: #6164bf 2px solid;
  box-shadow: 3px 3px #C793C4;
  position: relative;
  background-color: white;
}

#add{
  color: #6164bf;
  position: absolute;
  right: 3%;
  top: 0.35em;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: white;
  border: solid #6164bf 2px;
}
#add:hover{
  background-color: #f2d5E5;
}

.selected{
  border: 2px solid #6164bf;
  background-color: rgba(255, 255, 255, 0.3);
}

.icon.selected-icon{
  box-sizing: border-box;
}

/* --- layer dropdown --- */

.dropdown {

  display: inline-block;
  background-color: #e0afdb;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  height: 1.8em;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0.3em;
  line-height: 1.8em;
  font-size: 0.8em;
  font-weight: 600;
}

.title{
  display: inline;
}

.dropdown span{
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.dropdown-content {
  text-align: left;
  display: none;
  position: absolute;
  top: 2.2em;
  min-width: 120px;
  border: #6164bf 2px solid;
  border-radius: 4px;
  margin-block-start: 0;
  z-index: 1;
  background-color:white;
}

.dropdown-content a {
  padding: 6px;
  color: #6164bf;
  font-size: 1.2em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e0afdb;
  color: white;
}

.dropdown:hover {
  background-color: #6164bf;
  color: white;
}

.dropdown-content a.current{
  background-color: #e0afdb;
  color: white;
}

.dropdown-content a img{
  margin-top: 0.2em;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 0.0em;
}

.layer:nth-child(1):not(.selected){
  border-top: solid 0px #e0afdb;
}

.bounding-box{
  border: 2px dotted #6164bf;
  width: 1em;
  height: 1.8em;
    display: inline-block;
}

/* -- toolbar -----*/

/* input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
  padding: 0;
} */

#colorpick{
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
}

#colorpick-i{
  position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
}

#colorpick-display{
  position: absolute;
    border: #6164bf 2px solid;
    height: 100%;
    width: 100%;
}

#bar{
  width: 100%;
  height: auto;
}

ul {
    padding: 0;
}

.menu-item {
    list-style-type: none;
    padding: 0.5em;
    display: inline-block;
}

#toolbar{
  position: relative;
  display: inline-block;
  margin-top: 1em;
  height: 5em;
  border: #6164bf 2px solid;
  box-shadow: 3px 3px #C793C4;
  position: relative;
  background-color: #f2d5E5;
  background-image: url('assets/grid.png');
  background-size: contain;
}

#bar-info-container{
  width: 100%;
  background-color: white;
}

#bar-info{
  background-color: white;
  height: 1.5em;
  line-height: 1.4em;
}

#bar-info img{
  margin-right: 1em;
  height: 60%;
}

@keyframes expand {
  50% {
    height: 4.4em;
    transform: translate3d(0.25em, 0.2em, 0);
    -webkit-transform: translate3d(0.25em, 0.2em, 0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    -webkit-transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
    -webkit-transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    -webkit-transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
    -webkit-transform: translate3d(4px, 0, 0);
  }
}

@keyframes nod {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  50%{
    transform: translate3d(0, -4px, 0);
    -webkit-transform: translate3d(0, -4px, 0);
  }

  /* 25%, 75% {
    transform: translate3d(0, -4px, 0);
  } */

}

#icons{
  height: calc(100% - 1.5em);
  vertical-align: middle;
  width: calc(100vh - 15em);
  min-width: 256px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: nowrap;
}

.icon{
  width: 50px;
  /* flex-grow: 0;
  flex-shrink: 0; */
  transform: translate3d(0, 0, 0);
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
}

.selected-icon{
  border: #6164bf 2px solid;
}

.icon img{
  display: block;
  margin: auto;
  margin-top: calc(15%);
  height: 70%;
}

.icon:hover> img{
  animation: nod 0.15s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

#paintbucketInfo.p-info-use{
  position: absolute;
  bottom:0;
  font-size: 0.5em;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  box-sizing: border-box;
  padding-top: 5%;
  padding-bottom: 5%;
  border: #6164bf 1px solid;
  text-align: center;
}

.no_use{
  filter: none;
  -webkit-filter: grayscale(80%);
  -moz-filter:    grayscale(80%);
  -ms-filter:     grayscale(80%);
  -o-filter:      grayscale(80%);
  opacity: 0.3;
}

.no_use:hover > img{
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}

/* -- toolbar settings dropdown -- */

#dropdown-s{
  z-index: 1;
  margin: 0px;
}

#dropdown-s img{
  width:100%;
}

#dropdown-s {
  display: inline-block;
}

.dropdown-content-settings {
  text-align: left;
  display: none;
  position: absolute;
  bottom: 3em;
  left: 0px;
  text-align: center;
  min-width: 160px;
  border: #6164bf 2px solid;
  border-radius: 4px;
  z-index: 1.75;
  background-color:white;
}

#dropdown-s:hover .dropdown-content-settings {display: block;}

.disappear {
  opacity: 0 !important;
  z-index: -1;
}
